.container {
  border-bottom: 1px solid #f2f2f2;
}
.container a {
  cursor: pointer;
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.category a + a {
  margin-left: 16px;
}
